# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Production
/build

# Misc
.DS_Store
*.pem
.env
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Expo
.expo/
.expo-shared/

# Metro
.metro-health-check*

# iOS
ios/Pods/
ios/build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android
android/.gradle/
android/build/
android/app/build/
*.apk
*.aab

# Logs
logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
