name: EAS Update

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'mobile/**' # Only trigger if mobile folder changes

jobs:
  update:
    name: EAS Update
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./mobile 

    steps:
      - name: Check for repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: npm
          cache-dependency-path: mobile/package-lock.json

      - name: Setup Expo
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install root dependencies
        working-directory: .
        run: npm ci

      - name: Install mobile dependencies
        run: npm ci

      - name: Publish update
        run: eas update --auto
